In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [2]:
activeUser = int(input("Enter the User Id: "))

Enter the User Id: 12

In [3]:
# ratings = pd.read_csv('ratings.csv')
# del ratings['timestamp']
# ratings.head()

In [4]:
# Reading the file of the movies which contains the information regarding the movies
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
data = pd.read_csv('movies_data.csv')
data

,userId,movieId,rating,title,genres,timestamp
0,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2007-05-21 00:47:29.686930
1,5,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1914-03-18 20:07:46.549403
2,7,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1937-06-13 15:57:41.462730
3,15,1,2.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995-08-03 09:55:13.061346
4,17,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1937-09-24 17:49:14.012228
...,...,...,...,...,...,...
100831,610,160341,2.5,Bloodmoon (1997),Action|Thriller,1989-04-02 15:40:57.974327
100832,610,160527,4.5,Sympathy for the Underdog (1971),Action|Crime|Drama,2014-08-23 04:57:29.087237
100833,610,160836,3.0,Hazard (2005),Action|Drama|Thriller,1908-11-03 13:25:35.501534
100834,610,163937,3.5,Blair Witch (2016),Horror|Thriller,2020-06-17 12:52:03.920102
100835,610,163981,3.5,31 (2016),Horror,1929-02-04 00:57:25.226984

In [6]:
data['timestamp'] = pd.to_datetime(data['timestamp']).dt.time

In [7]:
data['timestamp'] = data['timestamp'].map(lambda x: x.replace(microsecond=0))

In [8]:
# Flag for time; Morning = 1, Noon = 2, Night = 3

flag = []
a = "04:00:00"
b = "12:00:00"
c = "20:00:00"
for t in data['timestamp']:
    f_time = t.strftime("%H:%M:%S")
    if f_time >= a and f_time < b:
        flag.append("1")
    elif f_time >= b and f_time < c:
        flag.append("2")
    else:
        flag.append("3")
data['timeFlag'] = flag

In [9]:
user = data[data.userId == 1]
user

,userId,movieId,rating,title,genres,timestamp,timeFlag
0,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,00:47:29,3
215,1,3,4.0,Grumpier Old Men (1995),Comedy|Romance,02:23:45,3
267,1,6,4.0,Heat (1995),Action|Crime|Thriller,03:30:54,3
369,1,47,5.0,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,02:55:42,3
572,1,50,5.0,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,10:18:28,1
...,...,...,...,...,...,...,...
16056,1,3744,4.0,Shaft (2000),Action|Crime|Thriller,10:52:21,1
16075,1,3793,5.0,X-Men (2000),Action|Adventure|Sci-Fi,15:14:21,2
16208,1,3809,4.0,What About Bob? (1991),Comedy,00:02:18,3
16243,1,4006,4.0,Transformers: The Movie (1986),Adventure|Animation|Children|Sci-Fi,22:09:10,3
16250,1,5060,5.0,M*A*S*H (a.k.a. MASH) (1970),Comedy|Drama|War,03:03:29,3

In [10]:
# flag for current time
now = datetime.now()
current_time = now.strftime("%H:%M:%S")
a = "04:00:00"
b = "12:00:00"
c = "20:00:00"

if current_time >= a and current_time < b:
    current_time_flag = "1"
elif current_time >= b and current_time < c:
    current_time_flag = "2"
else:
    current_time_flag ="3"
# print(type(current_time_flag))

In [11]:
# Function to find the top N favorite movies for a user for a specific period of time

def favMovies(activeUser, N, ctf):
    topFlagMovies = data[data.timeFlag == str(ctf)]
    topMovies = pd.DataFrame.sort_values(topFlagMovies[topFlagMovies.userId == activeUser], ['rating'], ascending=[0])[:N]
    return list(topMovies.title)
# favMovies(1,10,current_time_flag)

In [12]:
# This  will respresent the table which is arranged like userid, movieid, rating and give us a new table in 
# which the row index  is the userId, column index is the movieId, and the value is the rating
matrixFlagMovies = data[data.timeFlag == current_time_flag]
# matrixFlagMovies = data[data.timeFlag == "1"]
userMovieRatingMatrix = pd.pivot_table(matrixFlagMovies, values='rating',index=['userId'], columns=['movieId'])

userMovieRatingMatrix

movieId,1,2,3,4,5,6,7,8,9,10,...,188797,189111,189333,190207,190209,190213,190219,191005,193567,193587
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Function to find the similarity between two users.
from scipy.spatial.distance import correlation
def similarity(user1, user2, ctf):
#     Normalizing the rating of the user, using the np.nanmean() - returns the mean of an array 
#     after ignoring nan Values
    user1 = np.array(user1) - np.nanmean(user1)
    user2 = np.array(user2) - np.nanmean(user2)
    
#     Now finding the similarity between users, first subset each user to be represented only by the ratings for the movies
#     the two users have in common.
    commonMovieIds = [i for i in range(len(user1)) if user1[i]>0 and user2[i]>0 and data.timeFlag[i] == str(ctf)]
#     Gives us movies for which both users have non Nan ratings
    if len(commonMovieIds) == 0:
        return 0 # if there is no movies in common
    else:
        user1 = np.array([user1[i] for i in commonMovieIds])
        user2 = np.array([user2[i] for i in commonMovieIds])
        return correlation(user1,user2)

In [14]:
# Using the similarity function, finds the neareset neighbours of the active users
def nearestNeighbourRatings(activeUser, K, ctf):
#     Function will find the the K nearest neighbour of the active users, then use their ratings to predict
# the active users for other users
    similarityMatrix = pd.DataFrame(index=userMovieRatingMatrix.index, 
                                    columns=['Similarity'])
#     Creates an empty matrix whose row index is userIds, and the value will be similarity
# of that user to the activeUsers
    for i in userMovieRatingMatrix.index:
        similarityMatrix.loc[i] = similarity(userMovieRatingMatrix.loc[activeUser],
                                             userMovieRatingMatrix.loc[i], ctf)
#         It finds the similarity between the user i and active user and add it to the similarity matrix
# Soring the similarity matrix, in descending order
    similarityMatrix = pd.DataFrame.sort_values(similarityMatrix, 
                                                 ['Similarity'], ascending=(0))
    nearestNeighbours = similarityMatrix[:K] # Gives us the K Nearest Neighbours
    
#     Taking the nearest neighbours and the use their ratings to predict the active user's rating for every movie
    neighbourMovieRatings = userMovieRatingMatrix.loc[nearestNeighbours.index]
    
    predictMovieRatings = pd.DataFrame(index=userMovieRatingMatrix.columns, columns=['Rating'])
    
    for i in userMovieRatingMatrix.columns:
#         for each movie
        predictedRating=np.nanmean(userMovieRatingMatrix.loc[activeUser])
#         start with average rating of the user
        for j in neighbourMovieRatings.index:
#         for each nieghbour in the neighbour list
            if userMovieRatingMatrix.loc[j,i]>0:
#         If the neighbour has rated that movie then, add the rating of the neighbour for that item adjusted,
# by the average rating of the neighbour weighted by the similarity of the neighbour to the active user.
                predictedRating += (userMovieRatingMatrix.loc[j,i] - 
                                    np.nanmean(userMovieRatingMatrix.loc[j]))*nearestNeighbours.loc[j,'Similarity']
        predictMovieRatings.loc[i,'Rating'] = predictedRating
    return predictMovieRatings

In [15]:
def topNRecommendations(activeUser ,N, ctf):
    predictMovieRating = nearestNeighbourRatings(activeUser, N, ctf)
#     Using the 10 nearest neighbours to find the predicted ratings
    moviesAlreadyWatched = list(userMovieRatingMatrix.loc[activeUser].loc[userMovieRatingMatrix.loc[activeUser]>0].index)
#    finds the list of movies whose ratings which are not Nan
    predictMovieRating = predictMovieRating.drop(moviesAlreadyWatched)
#     flaggingRecommendation = pd.DataFrame.sort_values(predictMovieRating,['Rating'], ascending=[0])[:N]
    topRecommendations = pd.DataFrame.sort_values(predictMovieRating,
                                                  ['Rating'], ascending=[0])[:N]
#     Will returns list of MovieIds which are top recommendations
    topRecommendationsTitles = (movies.loc[movies.movieId.isin(topRecommendations.index)])
    return list(topRecommendationsTitles.title)

In [16]:
# Printing the output
print ("Favorite Movies:",favMovies(activeUser, 10, current_time_flag), "\n\nRecommended Movies:", topNRecommendations(activeUser, 5, current_time_flag))

c:\users\harsh\appdata\local\programs\python\python38\lib\site-packages\scipy\spatial\distance.py:714: RuntimeWarning: invalid value encountered in double_scalars
  dist = 1.0 - uv / np.sqrt(uu * vv)

Favorite Movies: ['First Knight (1995)', 'Pride & Prejudice (2005)', "She's All That (1999)", 'Gone with the Wind (1939)', 'Clueless (1995)', 'Big Daddy (1999)', 'So I Married an Axe Murderer (1993)', 'Four Weddings and a Funeral (1994)', 'Splash (1984)', 'Karate Kid, Part II, The (1986)']

Recommended Movies: ['Toy Story (1995)', 'Final Fantasy VII: Advent Children (2004)', 'Into the Blue (2005)', 'MirrorMask (2005)', 'Kiss Kiss Bang Bang (2005)']